body{
    background-color: black;
   }
   .announcment{
   cursor: pointer;
   background-color: red;
   
   
   }
   .inner_announcment{
    width: 100%;
     margin-top: -10px;
    /* background-color: red; */
    color: white;
    text-align: center;
    padding: 2px;
   }
   .underline{
    text-decoration: underline;
    font-size: 15px;
   }
   
    /* css for navbar */
   
   .navbar{
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
     align-items: center;
   }
   .navbar img{
    height: 40px;
    width: 90px;
   }
   .menu{
   display: flex;
   margin-left: 100px;
   }
   .menu div{
   margin-left: 20px;
   }
   .font_nav{
    color: white;
   }
   .end_nav{
   display: flex; 
   }
   .end_nav img{
    margin-left: 10px;
    height: 19px;
    width: 22px;
   }
   
   #srch{
   height: 40px;
   width: 230px;
   border-radius:  20px;
   background-color: white;
   font-size: 16px;
   }

   #inner1{
       margin: auto;
       height: 1020px;
       width: 70%;
       background-color: #212121;
   }
   #inner1>p{
       font-size: 20px;
       margin-top: 5%;
       margin-left: 5%;
       color: grey;
   }
   #save>div{
       height: 30px;
       width: 15%;
       margin-left: 5%;
       font-size: 20px;
       padding: 10px;
       color: red;
       background-color: white;
   }
    
   #inside{
       margin: auto;
       height: 300px;
       width: 60%;
   }
   .pic{
       margin-top: -5%;
       margin-left: 5%;
   }
   .item{
       text-align: center;
       color: white;
   }
   .rs{
       font-size: 20px;
       margin-left: 12%;
       color:rgb(209, 71, 71);

   }
   .prod{
       color: grey;
       text-align: center;
   }
   .mrp{
       display: flex;
       justify-content: space-evenly;
   }
   .pricing{
       margin-top: -11%;
       font-size: 30px;
       color: rgb(209, 71, 71);
   }
   .strike{
       margin-top: -11%;
       font-size: 30px;
       color: grey;
       text-decoration: line-through;
   }
   .txt{
       text-align: center;
       margin-top: 0%;
       color: white;
       font-size: 20px;
   }
   .mini{
       color: white;
       text-align: center;
   }
   .bag{
       margin-top: 0%;
       margin-left: 30%;
       height: 50px;
       width: 40%;
       border: 2px solid white;
       background-color: black;
       color: white;
   }