body{
    background-color: black;
   }
   .announcment{
   cursor: pointer;
   background-color: red;
   
   
   }
   .inner_announcment{
    width: 100%;
     margin-top: -10px;
    /* background-color: red; */
    color: white;
    text-align: center;
    padding: 2px;
   }
   .underline{
    text-decoration: underline;
    font-size: 15px;
   }
   
    /* css for navbar */
   
   .navbar{
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
     align-items: center;
   }
   .navbar img{
    height: 40px;
    width: 90px;
   }
   .menu{
   display: flex;
   margin-left: 100px;
   }
   .menu div{
   margin-left: 20px;
   }
   .font_nav{
    color: white;
   }
   .end_nav{
   display: flex; 
   }
   .end_nav img{
    margin-left: 10px;
    height: 19px;
    width: 22px;
   }
   
   #srch{
   height: 40px;
   width: 230px;
   border-radius:  20px;
   background-color: white;
   font-size: 16px;
   }
  
   #inner1{
       margin: auto;
       height: 780px;
       width: 70%;
       border-radius: 15px;
       background-color: #212121;
   }
   #inner1>p{
       font-size: 20px;
       margin-top: 5%;
       margin-left: 5%;
       color: grey;
   }
   #save>div{
       height: 50px;
       width: 15%;
       margin-left: 5%;
       font-size: 15px;
       font-weight: bold;
       border-radius: 10px;
       padding: 10px;
       color: white;
       background-color: red;
   }
    
   #inside{
       margin: auto;
       height: 300px;
       width: 60%;
   }
   .pic{
       height: 340px;
       width: 60%;
       margin-top: -10%;
       margin-left: 20%;
   }
   .item{
      
       font-size: 30px;
       text-align: center;
       color: white;
   }
   .rs{
       font-size: 20px;
       margin-left: 12%;
       color:rgb(209, 71, 71);
      margin-top: 5%;
   }
   .prod{
       color: grey;
       text-align: center;
   }
   .mrp{
       display: flex;
       justify-content: space-evenly;
   }
   .pricing{
       margin-top: -8%;
       font-size: 30px;
       color: rgb(209, 71, 71);
   }
   .strike{
       margin-top: -8%;
       font-size: 30px;
       color: grey;
       text-decoration: line-through;
   }
   .txt{
       text-align: center;
       /* margin-top: -5%; */
       font-size: bold;
       color: white;
       font-size: 20px;
   }
   .mini{
       color: white;
       text-align: center;
   }
   .bag{
       margin-top: 0%;
       margin-left: 10%;
       font-weight: bold;
       height: 50px;
       width: 40%;
       border: 2px solid white;
       background-color: black;
       color: white;
   }
   .bag2{
    margin-top: 0%;
    margin-left: 10%;
    font-weight: bold;
    height: 50px;
    width: 40%;
    border: 2px solid red;
    background-color: red;
    color: white;
  }
  /* Footer */
  .des .btn {
    color: white;
    background-color: #ff0000;
    width: 138px;
    height: 36px;
    border-width: 0px;
    border-radius: 20px;
    margin: auto;
  }
  ul,
  li {
    list-style: none;
  }
  .crsltag {
    color: black;
    text-decoration: none;
  }
  
  .des {
    display: flex;
    flex-direction: column;
  }
  .name {
    text-align: center;
    font-weight: bold;
    padding: 20px;
  }
  .para {
    text-align: center;
    font-weight: 600;
    line-height: 15px;
    padding: 20px;
  }
  a {
    text-decoration: none;
    color: white;
  }
  .name {
    color: white;
  }
  a:hover {
    cursor: pointer;
    background-color: white;
  }
  .icon-container {
    font-size: 20px;
    height: 50px;
    width: 50px;
    border-radius: 40px;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 16px;
    margin: auto;
  }
  
  .scrolingpara {
    font-size: 30px;
    color: white;
    height: 30px;
  }
  .text-stroke {
    -webkit-text-stroke-width: 1.5px;
  }
  .sec {
    background-color: #1c1c1c;
  }
  .imgrow {
    background-color: #1c1c1c;
    padding: 20px;
    display: flex;
    flex-direction: row;
    max-width: 600px;
    margin: auto;
    padding: 20px;
  }
  .iconrow {
    display: flex;
    flex-direction: row;
    padding: 15px;
  }
  .iconrow p {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
  }
  .cont {
    width: 100%;
    padding: 15px;
    margin: auto;
  }
  .multi {
    display: flex;
    flex-direction: row;
  }
  .igs {
    display: flex;
    flex-direction: column;
  }
  .aa {
    background-image: url("https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Sports_900x.jpg?v=1605624529");
    width: 800px;
    height: 400px;
  }
  .aa1 {
    background-image: url("https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Travel_900x.jpg?v=1605624529");
    width: 800px;
    height: 400px;
  }
  .aa2 {
    background-image: url("https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Fashion_900x.jpg?v=1605624529");
    width: 600px;
    height: 300px;
    margin: auto;
  }
  .aa3 {
    background-image: url("https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Affordable_cbbe72cb-075e-425a-8582-483a849ab8d6_460x.jpg?v=1640170618");
    width: 300px;
    height: 500px;
  }
  .aa4 {
    background-image: url("https://cdn.shopify.com/s/files/1/0057/8938/4802/files/WFH_460x.jpg?v=1605624529");
    width: 300px;
    height: 500px;
  }
  .cont {
    margin: auto;
    text-align: center;
  }
  .bgimg{
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
  /* parascroll */
  .one{
    text-align: center;
    font-size: 20px;
    /* animation-name: left; */
  }
  .one img{
    width: 30px;
    height: 30px;
  }
  /* shoppng */
  .btnshop{
    color: #000;
    background-color: #fff;
    width: 150px;
    height: 36px;
    border-width: 0px;
    border-radius: 15px;
    margin: auto;
    font-size: 20px;
  }
  .shpng a{
  color: #000;
  }
  