body{
    background-color: black;
   }
   .announcment{
   cursor: pointer;
   background-color: red;
   
   
   }
   .inner_announcment{
    width: 100%;
     margin-top: -10px;
    /* background-color: red; */
    color: white;
    text-align: center;
    padding: 2px;
   }
   .underline{
    text-decoration: underline;
    font-size: 15px;
   }
   
    /* css for navbar */
   
   .navbar{
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
     align-items: center;
   }
   .navbar img{
    height: 40px;
    width: 90px;
   }
   .menu{
   display: flex;
   margin-left: 100px;
   }
   .menu div{
   margin-left: 20px;
   }
   .font_nav{
    color: white;
   }
   .end_nav{
   display: flex; 
   }
   .end_nav img{
    margin-left: 10px;
    height: 19px;
    width: 22px;
   }
   
   #srch{
   height: 40px;
   width: 230px;
   border-radius:  20px;
   background-color: white;
   font-size: 16px;
   }
   
   #inner1{
       height: 600px;
       width: 100%;
       background-color: #292929;
   }
   #inner1>p{
       margin-left: 5%;
       color: rgb(136, 126, 126)
   }
   
   #box1{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       gap: 20px;
   }
   #box1>div{
       margin-top: 5%;
       margin-left: 10%;
       height: 450px;
       width: 70%;
   }
   
   .mini1{
       margin-top: 5%;
       height: 50px;
       width: 25%;
   }
   .mini1>p{
       font-size: 18px;
       color: red;
       background-color: white;
   }
   
   #box1 img{
       margin-left: 10%;
       max-width: 85%;
       border-image-width: auto;
   }
   
   #beside>h1{
       margin-top: 15%;
       color: white;
   }
   #beside>p{
       line-height: 10%;
       color: grey;
   }
   #beside>span{
       color: red;
   }
   #box2{
       margin-top: 3%;
       height: 400px;
       width: 100%;

   }
   /* .mini2{
       display: flex;
   }
   .mini2>div{
    height: 60px;
    width: 30%;
   }
   .mini2 h2{
       color: #e53d3d;
   }
   .mini2 h4{
       color:grey;
       text-decoration: line-through;
   }
   div~p{
       color: white;
       line-height: 10%;
   }
   div~p~p{
       line-height: normal;
   }

   #box3{
       display: grid;
       grid-template-columns: repeat(2,1fr);
   }

   #box3>div{
       height: 80px;
       width: 100%;
       border: 1px solid red;
   } */
    
    .mrp{
       display: flex;
       justify-content: space-between;
   }
   .pricing{
       font-size: 30px;
       color: #e53d3d;
   }
   .strike{
       font-size: 23px;
       color: grey;
       text-decoration: line-through;
       margin-right: 25%;
   }
   .item{
       height: 50px;
       width: 60%;
       margin-left: 20%;
       color: white;
       background-color: black;
       border: 1px solid white;
   }