body{
 background-color: black;
}
.announcment{
cursor: pointer;
background-color: red;


}
.inner_announcment{
 width: 100%;
  margin-top: -10px;
 /* background-color: red; */
 color: white;
 text-align: center;
 padding: 2px;
}
.underline{
 text-decoration: underline;
 font-size: 15px;
}

 /* css for navbar */

.navbar{
 color: white;
 display: flex;
 justify-content: space-around;
 padding: 20px;
  align-items: center;
}
.navbar img{
 height: 40px;
 width: 90px;
}
.menu{
display: flex;
margin-left: 100px;
}
.menu div{
margin-left: 20px;
}
.font_nav{
 color: white;
}
.end_nav{
display: flex; 
}
.end_nav img{
 margin-left: 10px;
 height: 19px;
 width: 22px;
}

#form1{

border-radius:  20px;
padding: 5px;
font-size: 16px;
}